/* ======== Estilo Geral ======== */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    padding: 20px;
}

/* Título */
h1 {
    text-align: center;
    color: #2c3e50;
}

p {
    text-align: center;
    color: #7f8c8d;
    font-size: 1.2em;
}

/* Subtítulos */
h2 {
    text-align: center;
    color: #34495e;
}

/* ======== Formulário ======== */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Inputs e textarea */
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.campoPesquisa {
    width: 600px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transform: translate(80%, 20%);
}

/* ======== Botões ======== */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: rgba(66, 65, 66, 0.836);
    cursor: pointer;
    margin: 5px;
}

/* Botão de Cadastrar */
#cadastrar {
    background-color: #27ae60;
}

#cadastrar:hover {
    background-color: #219150;
}

/* Botão de Exibir Tabela */
#botaoTabela {
    background-color: #0b71b6;
}

#botaoTabela:hover {
    background-color: #206694;
}

/* Botões dentro da tabela */
table button {
    padding: 5px 10px;
    border-radius: 4px;
}

table button:hover {
    opacity: 0.8;
}

/* Botão Editar */
td button.editarCadastro {
    background-color: #f39c12;
}

/* Botão Detalhes */
td button.exibir {
    background-color: #8e44ad;
}

/* ======== Tabela ======== */
table {
    width: 600px; /* Mesma largura do formulário */
    border-collapse: collapse;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #34495e;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}
